description = "Общий шаблон"

[staticPage]
useContent = 1
default = 1
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/meta' %}
    </head>
    <body style="background-color: #3d3d3d;">
        <header class="header">
            {% partial 'site/header' %}
        </header>
        <div class="wrapper">
            {% page %}
        </div>
        <footer class="footer">
            {% partial 'site/footer' %}
        </footer>
            {% partial 'site/scripts' %}
    </body>
</html>